{% extends 'base.html.twig' %}

{% block title %}Hello MpaaRating!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        {{ form_row(form.name) }}
        {{ form_row(form.save) }}
    </div>

    {{ form_end(form) }}
{% endblock %}
