{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
<style>

</style>

<div>
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}

    <button class="btn btn-lg btn-primary" type="submit">Register!</button>
    {{ form_end(form) }}
</div>
{% endblock %}
