{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>


    <div>
        Вы действительно хотите удалить?
    </div>
    <div>
        {{ form_widget(attribute(form,deleteButton)) }}
        {{ form_widget(attribute(form,cancelButton)) }}
    </div>
    {{ form_end(form) }}
{% endblock %}
