{% block navbar %}
    <style>
        .header-holder {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }

        .avatar-holder {
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }

        .avatar-holder__link {
            color: var(--avatar-holder__link-color)
        }

        .switch-container {
            position: relative;
        }

        .switch {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
            width: 60px;
            height: 26px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 25px;
            width: 25px;
            left: 0;
            bottom: 0;
            top: 0;
            margin: auto 0;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            box-shadow: 0 0 15px #2020203d;
            background: white url('https://i.ibb.co/FxzBYR9/night.png') no-repeat center;
        }

        input:checked + .slider {
            background-color: #2196f3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196f3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(35px);
            -ms-transform: translateX(35px);
            transform: translateX(35px);
            background: white url('https://i.ibb.co/7JfqXxB/sunny.png') no-repeat center;
        }

        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: var(--dropdown-menu__background-color);
            color: var(--dropdown-menu__link-color);
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
        }

        .dropdown:hover .dropdown-content {
            display: flex;
            flex-direction: column;
        }

        .main-app__title {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            color: var(--main-app-title__color);
            font-family: Verdana, sans-serif;
            font-size: 24px;
            text-decoration: none;
        }

        .main-app__title:hover {
            color: var(--main-app-title__color);
        }
    </style>
    <div class="header-holder">
        <a href="/" class="main-app__title">#ЯАВТОР</a>
        <div class="switch-container">
            <label id="switch" class="switch">
                <input type="checkbox" id="slider">
                <span class="slider round"></span>
            </label>
        </div>
        <div class="dropdown">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') or is_granted('IS_AUTHENTICATED_FULLY') %}
                <div>
                    <a href="/" class="avatar-holder__link">{{ app.user.name }} {{ app.user.lastname }}</a>
                    <img class='avatar-holder'

                            {% if app.user.image is null %}
                                src="{{ asset('images/defaultBanner.png') }}" alt=""
                            {% else %}
                                src="{{ asset('uploads/') }}{{ app.user.image }}" alt=""
                            {% endif %}
                    >
                </div>
                <div class="dropdown-content">
                    <a href={{ path('user_profile', {'id': app.user.id}) }}> Мой профиль</a>
                    <a href={{ path("user_my_stories") }}>Мои рассказы</a>
                    <a href={{ path("app_logout") }}>Выход</a>
                </div>
            {% else %}
                <div>
                    <a class="navbar-brand" href={{ path("app_login") }}>Вход</a>
                </div>
                <div>
                    <a class="navbar-brand" href={{ path("registration") }}>Регистрация</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}