{% extends 'base.html.twig' %}

{% block title %}#ЯАВТОР {{ story.title }}{% endblock %}

{% block body %}
    <style>
        .editor-preview-active {
            background-color: var(--story-background-color);
            color: var(--as-link);
        }

        .story-header {
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
        }

        .story-header__title {
            font-size: 36px;
        }

        .story-header__extrainfo {
            display: flex;
        }

        .story-header__extrainfo__item {
            margin-right: 10px;
            margin-top: 10px;
        }

        .story-content__row__container {
            display: flex;
            flex-wrap: wrap;
        }

        .story-content {
            background-color: var(--story-background-color);
            border-radius: 5px;
            margin-bottom: 15px;
            padding: 15px;
        }

        .story-content__row {
            margin-bottom: 5px;
        }

        .story-management {
            display: flex;
            margin-bottom: 15px;
        }

        .story-management__item {
            min-height: 80px;
            min-width: 80px;
            background-color: #ccc;
            padding: 0 10px;
            border-radius: 2px;
            vertical-align: middle;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .story-management__item a {
            color: black;
        }

        .story-parts__container {

        }

        .story-parts__container-item {
            display: flex;
            flex-direction: column;
            border-radius: 3px;
            justify-content: space-between;
            margin-bottom: 10px;
            padding: 5px 10px;
            text-decoration: none;
            background-color: var(--part-list-background-color);
            color: inherit;
        }

        .new {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px;
        }

        .story-parts__container-item:hover {
            background-color: var(--part-list-background-color__hover);
            text-decoration: none;
        }

        .arrow {
            position: absolute;
            right: 0;
            top: 0;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
        }

        .part-title {
            font-size: 18px;
        }

        .author-info {
            text-decoration: underline;
        }

        i {
            line-height: 0.4;
        }

        .hat-creator-container {
            display: flex;
            align-items: center;
        }
    </style>
    <div class="story-container">
        <div class="story-header">
            <div class="story-header__title">
                {{ story.title }}
            </div>
            <div class="story-header__category">
                <a href="{{ path('stories/category_show', {'id': story.category.id}) }}"
                   class=""
                >
                    {{ story.category.name }}
                </a>
            </div>
            <div class="story-header__extrainfo">
                <div class="story-header__extrainfo__item">
                    <a href="{{ path('stories/fandom_show', {'id': story.fandom.id}) }}"
                       class="default-link-btn"
                       style="background:{{ story.fandom.color }}"
                    >
                        {{ story.fandom.name }}
                    </a>
                </div>
                <div class="story-header__extrainfo__item">
                    <a href="{{ path('stories/status_show', {'id': story.status.id}) }}"
                       class="default-link-btn"
                       style="background:{{ story.status.color }}"
                    >
                        {{ story.status.name }}
                    </a>
                </div>
                <div class="story-header__extrainfo__item">
                    <a href="{{ path('stories/mpaaRating_show', {'id': story.mpaaRating.id}) }}"
                       class="default-link-btn"
                       style="background:{{ story.mpaaRating.color }}"
                    >
                        {{ story.mpaaRating.name }}
                    </a>
                </div>
            </div>
        </div>
        <div class="story-content">
            <div class="story-content__row">
                <div class="hat-creator-container">
                    <div class="mr-3">
                        <img class='avatar-holder'
                                {% if story.author.image is null %}
                                    src="{{ asset('images/defaultBanner.png') }}" alt=""
                                {% else %}
                                    src="{{ asset('uploads/') }}{{ story.author.image }}" alt=""
                                {% endif %}
                        >
                    </div>
                    <div class="d-flex flex-column mb-3">
                        <a href="/" class="author-info">{{ story.author.username }}</a>
                        <i>автор</i>
                    </div>
                </div>
            </div>
            <div class="story-content__row">
                <div>
                    Метки:
                </div>
                <div class="story-content__row__container">
                    {% for tag in story.tags %}
                        <div class="mr-3" data-toggle="tooltip" data-placement="top"
                             title="{{ tag.description }}">
                            <a href="/" class="default-link-tag">
                                {{ tag.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="story-content__row">
                <div>
                    Персонажи:
                </div>
                <div class="story-content__row__container">
                    {% for character in story.characters %}
                        <div class="mr-3">
                            <a href="/" class="default-link-tag"
                               data-toggle="tooltip" data-placement="top"
                               title="{{ character.description }}"
                            >
                                {{ character.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="story-content__row">
                <div>Описание:</div>
                <div>{{ story.description }}</div>
            </div>
            <div class="story-content__row">
                <div>Примечание автора:</div>
                <div>{{ story.authorsNote }}</div>
            </div>
        </div>
        <div class="story-management">
            <div class="story-management__item">
                <a href="/">Нравится</a>
            </div>
            <div class="story-management__item">
                <a href="/">Отзывы</a>
            </div>
            {% if story.author.id == app.user.id %}
                <div class="story-management__item">
                    <a href="{{ path('story_update', {'id': story.id}) }}">Редактировать шапку</a>
                </div>
            {% endif %}
        </div>
    </div>
    {% if not story.storyParts.isEmpty() %}
        <h1 class="text-center">Содержание</h1>
        <div class="story-parts__container">
            {% for story_part in story.storyParts %}
                <div class="story-parts__container-item">
                    <div class="part-title">
                        {{ story_part.parts.title }}
                    </div>
                    <div class="d-flex position-relative">
                        <div class="part-date mr-2">Дата</div>
                        <div class="mr-2">Отзывы</div>
                        <a
                                data-toggle="collapse"
                                data-target="#collapse_{{ story_part.parts.id }}"
                                aria-expanded="false"
                                aria-controls="{{ story_part.parts.id }}"
                        >
                            Читать
                        </a>
                        <img class="arrow"
                             src="https://img.icons8.com/external-becris-lineal-becris/64/000000/external-next-mintab-for-ios-becris-lineal-becris.png"/>
                    </div>
                    <div class="collapse" id="collapse_{{ story_part.parts.id }}">
                        <span>Примечания:</span>
                        <div>{{ story_part.parts.commentBeforePart }}</div>
                        <textarea id="textArea_{{ story_part.parts.id }}">{{ story_part.parts.text }}</textarea>
                        <span>Примечания:</span>
                        <div>{{ story_part.parts.commentAfterPart }}</div>
                    </div>
                </div>
            {% endfor %}
            <a href="{{ path('user_part_create', {'id': story.id}) }}"
               class="story-parts__container-item new d-flex position-relative">
                <img src="https://img.icons8.com/ios/50/000000/new-by-copy.png" width="20" height="20"/>
                <span>Добавить новую часть</span>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        window.onload = function () {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
            const simplemde = {};

            $('[id^="textArea_"]').each(function (idx, ele) {
                simplemde[ele.id] = new window.simpleMde({
                    element: ele,
                    autofocus: true,
                    toolbar: false,
                    toolbarTips: false,
                });
                simplemde[ele.id].togglePreview();

            })
        }
    </script>
{% endblock %}

