{% extends 'admin/index.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="wrapper">
        <h1>Fandoms</h1>
        <div class="knp_pagination_filter">
            {{ knp_pagination_filter(pagination, {'f.id':'ID','f.name':'Name'},template = 'twitter_bootstrap_v4_filtration.html.twig') }}
        </div>
        <div>
            <a class="btn btn-primary btn-sm" href={{ path('fandom_create') }}>
                Add new fandom
            </a>
        </div>
        <table class="table table-hover table-responsive">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            {% for fandom in pagination %}
                <tr>
                    <td>{{ fandom.id }}</td>
                    <td>{{ fandom.name }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href={{ path('fandom_update',{id:fandom.id}) }}>
                            Edit
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href={{ path('fandom_delete',{id:fandom.id}) }}>
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination,'twitter_bootstrap_v3_pagination.html.twig') }}
    </div>
{% endblock %}
