{% extends 'admin/index.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <div class="wrapper">
        <h1>Characters</h1>
        <div class="knp_pagination_filter">
            {{ knp_pagination_filter(pagination, {'t.id':'ID','t.name':'Name'},template = 'twitter_bootstrap_v4_filtration.html.twig') }}
        </div>
        <div>
            <a class="btn btn-primary btn-sm" href={{ path('character_create') }}>
                Add new character
            </a>
        </div>
        <table class="table table-hover table-responsive">
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
            {% for character in pagination %}
                <tr>
                    <td>{{ character.id }}</td>
                    <td>{{ character.name }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href={{ path('character_edit',{id:character.id}) }}>
                           Edit
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href={{ path('character_delete',{id:character.id}) }}>
                           Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="navigation text-center">
        {{ knp_pagination_render(pagination,'twitter_bootstrap_v3_pagination.html.twig') }}
    </div>
{% endblock %}
