{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <style>
        .my_story-container {
            display: flex;
            flex-direction: column;
        }

        .my_story-container a {
            color: var(--font-color)
        }

        .my_story-item {
            display: flex;
            flex-direction: column;
            background-color: var(--story-background-color) !important;
            margin-top: 10px;
            padding: 10px;
            position: relative;
        }

        .my_story-item-title-row {
            display: flex;
            justify-content: space-between;
            align-content: center;
            border-bottom: 1px dashed #e5dacc;
        }

        .my_story-item-parts-row {
            display: flex;
            justify-content: space-between;
            align-content: center;
        }

        .my_story-item-title {
            text-decoration: underline;
            font-size: 24px;
            line-height: 32px;
        }

        .my_story-item-title a, .my_story_parts-item a {
            transition: all .3s ease;
        }

        .my_story-item-title a:hover, .my_story_parts-item a:hover {
            color: var(--font-color-hover);
        }

        .my_story_stats-container {
            display: flex;
            justify-content: center;
            align-content: center;
            border-bottom: 1px dashed #e5dacc;
        }

        .my_story_stats-item, .my_story_parts_management-item {
            margin-right: 10px;
        }

        .my_story_parts-item {
            border-bottom: 1px dashed #e5dacc;
        }

        .my_story_parts_management-container {
            display: flex;
        }

        .my_story_parts-item {
            text-decoration: underline;
        }

        .my_story_parts_management-item {
            height: 36px;
            display: flex;
            align-items: center;
        }

        .my_story_parts_management-item a {
            border-radius: 3px;
            font-size: 14px;
            line-height: 1.5;
            padding: 5px 10px;
            background-color: var(--btn-default-backgroundColor);
            border-color: var(--btn-default-borderColor);
            color: var(--btn-default-color)
        }

    </style>
    <div class="page-wrapper">
        <h1>Мои рассказы</h1>
        <a href="{{ path('story_create') }}" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
            </svg>
            Новый рассказ
        </a>
        <div class="my_story-container">
            {% for story in stories %}
                <div class="my_story-item">
                    <div class="my_story-item-title-row">
                        <div class="my_story-item-title">
                            <a class="link-primary" href={{ path("story_update",{id:story.id,}) }}>
                                {{ story.title }}
                            </a>
                        </div>
                        <div class="my_story-item-delete">
                            <a class="link-primary" href={{ path("story_delete",{id:story.id,}) }}>
                                Удалить
                            </a>
                        </div>
                    </div>
                    <div class="my_story_stats-container">
                        <div class="my_story_stats-item">
                            <a class="link-primary" href={{ path("story_read",{id:story.id,}) }}>
                                Посмотреть
                            </a>
                        </div>
                        <div class="my_story_stats-item">
                            <a class="link-primary" href={{ path("home") }}>
                                Статистика
                            </a>
                        </div>
                    </div>
                    <div class="my_story_parts-container">
                        {% for story_part in story.getStoryParts %}
                            <div class="my_story_parts-item">
                                <div class="my_story-item-parts-row">
                                    <div>
                                        <a class="link-primary"
                                           href={{ path("user_part_edit",
                                               {
                                                   partId:story_part.parts.id,
                                                   storyId:story.id
                                               }) }}
                                        >
                                            {{ story_part.parts.title }}
                                        </a>
                                    </div>
                                    <div class="my_story_parts-item">
                                        <a class="link-primary"
                                           href={{ path("part_delete",
                                               {
                                                   id:story_part.parts.id,
                                               }) }}
                                        >
                                            Удалить
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            Добавленных частей пока нет.
                        {% endfor %}
                    </div>
                    <div class="my_story_parts_management-container">
                        <div class="my_story_parts_management-item">
                            <a class="link-primary" href={{ path("user_part_create",{id:story.id}) }}>
                                Добавить часть
                            </a>
                        </div>
                        <div class="my_story_parts_management-item">
                            <a class="link-primary" href={{ path("user_part_reorder",{id:story.id}) }}>
                                Изменить порядок частей
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


