<!DOCTYPE html>
<html lang="en" class="theme-dark">
{% set colorTheme = app.request.cookies.get('colorTheme') %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>
<body>
<style>

</style>
<div class="container">
    {{ include('layouts/navbar.html.twig') }}
    {{ include('layouts/adminNavbar.html.twig') }}
    {{ include('layouts/userNavbar.html.twig') }}
    {% block body %}
    {% endblock %}
</div>
{% block javascript_footer %}
{% endblock %}
</body>
</html>
