<!DOCTYPE html>
<html lang="en" class="theme-dark">
{% set colorTheme = app.request.cookies.get('colorTheme') %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>
<body>
<style>
    .disclamer {
        text-align: center;
        color: var(--disclamer-color)
    }
    .page__wrapper{
        border-radius: 10px;
        background-color: var(--page__wrapper_background);
        padding: 15px;
    }
</style>
<div class="container">
    <div class="container container__inner">
        {{ include('layouts/navbar.html.twig') }}
        <div class="book-stiches-horizontal hidden-xs"></div>
        <div class="book-stiches-vertical hidden-xs"></div>
        <div class="book-corner-top hidden-xs"></div>
        <div class="book-corner-bottom hidden-xs"></div>

        <div class="page__wrapper">
             {{ include('layouts/adminNavbar.html.twig') }}
            {{ include('layouts/userNavbar.html.twig') }}
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <p class="disclamer">Права на все произведения, опубликованные на сайте, принадлежат авторам произведений.
        Администрация
        не несет
        ответственности за содержание работ.</p>
</div>
{% block javascript_footer %}
{% endblock %}
</body>
</html>
