{% extends 'base.html.twig' %}

{% block title %}Hello User!{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>

    <div class="row">
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password, {'value':''}) }}
{#        {{ form_widget(form.password, {'value' : ''}) }}#}
    </div>
    {{ form_end(form) }}
{% endblock %}
